<h2>Список файлов с маршрутами</h2>
{% if message %}
  <p>{{ message }}</p>
{% else %}
  {% for file in files_data %}
    <h3>
      {{ file.filename }} ({{ file.format }})
      <a href="{% url 'download_file' file.filename %}">
        <button>Скачать</button>
      </a>
    </h3>
    
    {% if file.content.TourRoute %}
      <!-- Если есть TourRoute (массив маршрутов) -->
      {% for route in file.content.TourRoute %}
        <ul>
          <li><strong>name:</strong> {{ route.name }}</li>
          <li><strong>description:</strong> {{ route.description }}</li>
          <li><strong>length_km:</strong> {{ route.length_km }}</li>
          <li><strong>difficulty:</strong> {{ route.difficulty }}</li>
          <li><strong>Members count:</strong> {{ route.members_count }}</li>
        </ul>
      {% endfor %}
    {% elif file.content.name %}
      <!-- Если это один маршрут (словарь с полями напрямую) -->
      <ul>
        <li><strong>name:</strong> {{ file.content.name }}</li>
        <li><strong>description:</strong> {{ file.content.description }}</li>
        <li><strong>length_km:</strong> {{ file.content.length_km }}</li>
        <li><strong>difficulty:</strong> {{ file.content.difficulty }}</li>
        <li><strong>Members count:</strong> {{ file.content.members_count }}</li>
      </ul>
    {% else %}
      <!-- Для других файлов -->
      <ul>
      {% for key, val in file.content.items %}
        <li><strong>{{ key }}:</strong> {{ val }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    
  {% endfor %}
{% endif %}
<a href="{% url 'add_route' %}">Добавить маршрут</a><br>
<a href="{% url 'upload_file' %}">Загрузить файл</a>